@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    @keyframes up-down {
        0% {
            transform: translateY(0%);
        }
        25% {
            transform: translateY(-100%);
        }
        50% {
            transform: translateY(0%);
        }
        75% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(0%);
        }
    }
    .animate-up-down {
        animation: up-down 10s linear infinite;
    }

}